* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f8;
}

/* Main Container */

.login-container {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login Box */

.login-box {
    width: 380px;
    background-color: white;

    padding: 35px;

    border-radius: 10px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

/* Logo / Website Name */

.login-box h1 {
    text-align: center;
    color: #1677ff;
    margin-bottom: 5px;
}

.tagline {
    text-align: center;
    color: #777;
    font-size: 14px;
    margin-bottom: 25px;
}

/* Login Heading */

.login-box h2 {
    text-align: center;
    margin-bottom: 25px;
}

/* Labels */

label {
    display: block;
    margin-bottom: 7px;
    font-weight: bold;
}

/* Input */

input[type="email"],
input[type="password"] {
    width: 100%;

    padding: 12px;

    margin-bottom: 18px;

    border: 1px solid #ccc;
    border-radius: 5px;

    font-size: 15px;
}

/* Remember Me */

.remember {
    display: flex;
    align-items: center;
    gap: 8px;

    margin-bottom: 20px;
}

.remember input {
    width: auto;
}

/* Login Button */

button {
    width: 100%;

    padding: 12px;

    background-color: #1677ff;
    color: white;

    border: none;
    border-radius: 5px;

    font-size: 16px;

    cursor: pointer;
}

button:hover {
    background-color: #0d5dcc;
}

/* Links */

.forgot {
    text-align: center;
    margin-top: 18px;
}

.signup {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #1677ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}